numpy
pandas
scipy
openpyxl
altair
altair_saver
selenium<4.3.0
plotly
kaleido
codetiming
sdv
pytest
python-dateutil==2.8.2
python-slugify==6.1.1
python-dateutil==2.8.2
phonenumbers==8.12.51
mailchecker==4.1.18
dvc
inflection
PyYAML
imbalanced-learn
scikit-optimize
lightgbm
-e .